*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
    color: white;
}

.flex{
    display: flex;
   
}

.high{
    justify-content: space-between;
    background-color: #3c1ea0;
    width: 80%;
    height: 100px;
    margin: auto;
    align-items: center;
}

.logo{
    /* width: 150px; */
    flex-basis: 15%;
    height: 100px;
    background-color: blue;
}

.button-box{
    background-color: blueviolet;
}

.login-button{
    flex-basis: 15%;
}

button{
    padding: 7px 16px;
    border-radius: 40px;
    border: none;
}

.navbar{
    justify-content: space-between;
    /* width: 500px; */
    flex-basis: 50%;
    background-color: cornflowerblue;
}

ul{
    list-style-type: none;
}

li>a{
    color: white;
    text-decoration: none;
}

.hsection{
    width: 50%;
    margin: auto;
    background-color: darkblue;
    padding: 50px;
    text-align: center;
}

.title{
    background-color: aqua;
    margin: 10px;
}

.presentation{
    background-color: rgb(31, 10, 51);
    margin-top: 25px;
    margin-bottom: 10px;
}

